<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">All Offers</h2>
    <div class="row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-6 col-md-3 col-lg-2 m-1 p-0" th:each="offer : ${offers.content}">
            <div class="card-img-top-wrapper">
                <img class="card-img-top" th:src="${offer.imageUrl}" alt="Car Image"/>
            </div>
            <div class="card-body pb-1">
                <h5 class="card-title" th:text="${offer.model.brand.name}">
                    Offer year Brand name Model name
                </h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span th:text="'Mileage ' + ${offer.mileage}">• Mileage</span></div>
                    <div class="card-text"><span th:text="'Price ' + ${offer.price}">• Price</span></div>
                    <div class="card-text"><span th:text="'Engine ' + ${offer.engine.name}">• Engine type</span></div>
                    <div class="card-text"><span th:text="'Transmission ' + ${offer.transmission.name}">• Transmission type</span>
                    </div>
                </li>
            </ul>
            <div class="card-body">
                <a class="card-link" th:href="'/user/offers/details/' + ${offer.id}">Details</a>
            </div>
        </div>
    </div>

    <!-- Pagination Controls -->
    <th:block th:if="${offers.content.size() > 0}">
        <div class="row justify-content-center mt-3">
            <div class="pagination-controls">
                <nav aria-label="Page navigation">
                    <ul class="pagination">

                        <!-- First Page -->
                        <li class="page-item" th:classappend="${offers.first ? 'disabled' : ''}">
                            <a th:unless="${offers.first}" class="page-link"
                               th:href="@{/user/offers/all(page=0)}">First</a>
                            <a th:if="${offers.first}" class="page-link" href="#">First</a>
                        </li>

                        <!-- Previous Page -->
                        <li class="page-item" th:classappend="${offers.first ? 'disabled' : ''}">
                            <a th:unless="${offers.first}" class="page-link"
                               th:href="@{/user/offers/all(page=${offers.number - 1})}">Previous</a>
                            <a th:if="${offers.first}" class="page-link" href="#">Previous</a>
                        </li>

                        <!-- Numbered Pages -->
                        <span th:each="i : ${#numbers.sequence(0, offers.totalPages - 1)}">
                    <li class="page-item" th:classappend="${offers.number == i ? 'active' : ''}">
                        <a class="page-link" th:href="@{/user/offers/all(page=${i})}" th:text="${i + 1}"></a>
                    </li>
                </span>

                        <!-- Next Page -->
                        <li class="page-item" th:classappend="${offers.last ? 'disabled' : ''}">
                            <a th:unless="${offers.last}" class="page-link"
                               th:href="@{/user/offers/all(page=${offers.number + 1})}">Next</a>
                            <a th:if="${offers.last}" class="page-link" href="#">Next</a>
                        </li>

                        <!-- Last Page -->
                        <li class="page-item" th:classappend="${offers.last ? 'disabled' : ''}">
                            <a th:unless="${offers.last}" class="page-link"
                               th:href="@{/user/offers/all(page=${offers.totalPages - 1})}">Last</a>
                            <a th:if="${offers.last}" class="page-link" href="#">Last</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
    <!-- End Pagination Controls -->
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
